.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.auth .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #262624;
}
.auth button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 2.4rem;
    border-style: none;
    border-radius: 8px;
    color: #ddd;
    background-color: #262624;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
    margin-bottom: 6px;
}
.auth button img {
    margin-right: 5px;
}
.auth .auth-form-container {
    background-color: #262624;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}
.auth .auth-form {
    padding: 40px 20px;
    position: relative;
}
.auth .auth-form input {
    margin: 6px 0px;
}
.auth .auth-form input.focused {
    margin: 5px -1px;
}
.auth-form input[type=email],
.auth-form input[type=password],
.auth-form input[type=text] {
    width: 180px;
}
.auth-form input[type=submit] {
    width: 100%;
    border-style: none;
    background-color: #aaa;
    color: #262624;
    font-size: 2rem;
    padding: 7px 0px 5px 0px;
    text-transform: uppercase;
}
.auth .auth-form-container .auth-form .auth-item {
    margin-bottom: 15px;
}
.auth-form .auth-item label {
    color: #fff;
    font-size: 1.3rem;
}
.auth a {
    text-decoration: none;
    color: #e6f34f;
}
.auth .auth-xtras a{
    color: #fffb00;
}
.auth a:hover {
    text-decoration: underline;
}
.auth .auth-xtras {
    margin-top: 15px;
    width: 182px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}