.txn-header {
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #dee1e6;
    display: flex;
    align-items: center;
}
.txn-text-case {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txns .slab-bucket .slab-bucket-body {
    grid-auto-rows: 25px;
}
.txns .slab-bucket .slab-bucket-head .inline-action {
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txns .slab-bucket .slab-bucket-head div.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.txns .no-deals-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txns .no-deals-div span {
    font-size: 1rem;
}
/* Chrome, Safari and Opera */
.txns .slab-bucket .slab-bucket-body::-webkit-scrollbar {
    /* display: none; */
}
/* IE and Edge, Firefox */
.txns .slab-bucket .slab-bucket-body {
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
.action-case {
    display: flex;
    justify-content: space-evenly;
}
.add-txn-button,
.import-txn-button,
.export-txn-button {
    border: #ccc 1px solid;
    border-radius: 5px;
    background-color: #fff;
    color: #262624;
    margin-right: 5px;
}
.export-txn-button {
    padding: 6px 10px;
}
.add-txn-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.slab-data-form {
    max-width: 540px;
    height: fit-content;
    background-color: #262624;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 28px;
    border-radius: 5px;
    border: #ddd 1px solid;
}
.x-button {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    z-index: 1;
}
.slab-data-form .form-field-case {
    display: flex;
    flex-direction: column;
}
.slab-data-form .form-field-case .focused {
    margin: -1px;
}
.slab-data-form .form-field-case .dropdown-field {
    font-size: 0.825rem;
    font-weight: 400;
    color: #262624;
}
.slab-data-form .form-field-case textarea {
    max-height: 200px;
}
.slab-data-form .form-field-case label {
    color: #ddd;
    font-weight: 600;
    padding: 14px 0px 7px 0px;
}
.slab-data-form .form-button-case {
    display: flex;
    justify-content: flex-end;
}
.slab-data-form .form-button-case input[type="button"] {
    margin: 10px 0px 0px 10px;
}
.slab-bucket .slab-bucket-body-row span,
.slab-bucket .slab-bucket-body-row p {
    line-height: 1.3;
}