@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Play:wght@400;700&family=Odibee+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Baloo Tammudu 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b9aea4;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}
label, input[type=submit] {
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}
a, span, p, input, button, textarea {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 0.825rem;
  text-decoration: none;
}
a, span, p, input {
  padding-top: 7px;
}
.container {
  position: relative;
  max-width: 1264px;
  width: 100%;
}
.hidden {
  display: none;
}
.disable {
  pointer-events: none;
}