@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.table-container {
    overflow-x: auto;
    height: 50vh;
}
table.record-table {
    border-collapse: collapse;
    width: 100%;
}
.record-table th span, .record-table td span {
    display: flex;
    justify-content: flex-start;
}
.record-table th:nth-child(1) {
    width: 14px;
}
.record-table td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.record-table thead th span {
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Play', sans-serif;
    color: #2e2e2e;
}
table.record-table tbody td span {
    font-size: 0.875rem;
    color: #2e2e2e;
    padding: 5px 10px;
}
.options-case {
    position: fixed;
    transform: translate(-68px, -6px);
    background-color: #e3e3e3;
    padding: 6px 0px;
    border-radius: 3px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
    z-index: 1;
    color: #262624;
}
.options-case span.option {
    font-size: 12px;
    padding: 6px 18px;
    cursor: pointer;
}
.options-case span.option:hover {
    background-color: #bbb;
}
table.record-table .css-tlfecz-indicatorContainer {
    padding: 0px;
}